html,
body,
div,
object,
iframe {
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header,
footer,
nav,
section,
article {
    display: block;
}
body {
	background-color: #E8F0F6;
    font: 17px 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    padding: 0;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-align: center;
}

a {
    color: #D53880;
    text-decoration: none;
}
p {
    margin: 0;
    color: #0B0C0C;
    font-weight: 400;
}
.lead {
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 0px;
}
h1 {
    position: absolute;
    color: #0B0C0C;
    font-size: 19px;
    font-weight: 400;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
h2 {
    color: #B10E1E;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -1px;
    margin-bottom: 50px;
    white-space: nowrap;
}
.content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -200px;
}
.content p {
    margin: 0 15px 25px 15px;
}
.content a {
    font-size: 21px;
    padding: 5px 8px;
    -webkit-transition: color 0.1s ease, background-color 0.1s ease;
    -moz-transition: color 0.1s ease, background-color 0.1s ease;
    transition: color 0.1s ease, background-color 0.1s ease;
}
.content a:hover {
    color: #444;
    background-color: #9fc;
}
.content a:active {
    background-color: #6c9;
}
.content li {
    display: inline;
    margin: 0 5px;
    white-space: nowrap;
}
.content li.local {
    display: none;
    visibility: hidden;
}
@media (max-width: 728px) {
    body,
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .content {
        margin-top: -180px;
    }
}
input[type=email] {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    padding: 5px 4px 4px;
    margin: 8px 0;
    border: 3px solid #ccc;
    outline: none;
}
input[type=email]:focus {
    border: 3px solid #FFBF47;
}
input[type=submit] {
    background-color: #00823B;
    border: none;
    color: white;
    padding: 16px 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
